.invite-container {
  font-family: "Fira Sans", sans-serif; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh; /* Ensure content fills viewport height */
  width: 100%; /* Stretch to full width */
  /* Optional background color */
}

.codeSnippet {
  font-size: 16px;
  color: #d4d4d4; /* Default text color (VS Code default) */
  line-height: 1.5;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  max-width: 800px;
  margin: 0 auto;
  background-color: #1e1e1e; /* Background color similar to VS Code */
  outline-width: 1px;
  outline-offset: 0;
  outline-color: rgba(0, 130, 206, 0.75);
  outline-style: solid;
  animation: animateOutline 4s ease infinite;
}

.eventDetails {
  font-weight: bold;
  color: #dcdcaa; /* Event details color (VS Code keyword color) */
}

.koduyatra {
  font-size: 18px;
  color: #ffc200; /* Specific color for 'Koduyatra' (VS Code function color) */
  font-weight: bold;
}

.eventDate {
  font-size: 18px;
  color: #00AE6B; /* Specific color for the date (VS Code string color) */
}

@keyframes animateOutline {
  0% {
      outline-width: 1px;
      outline-offset: 0;
      outline-color: rgba(0, 130, 206, 0);
  }
  10% {
      outline-color: rgba(0, 130, 206, 0.75);
  }
  50% {
      outline-width: 7px;
      outline-offset: 4px;
      outline-color: rgba(0, 130, 206, 0);
  }
  100% {
      outline-width: 7px;
      outline-offset: 4px;
      outline-color: rgba(102, 102, 102, 0);
  }
}

@media (max-width: 400px) {
  .codeSnippet {
      font-size: 6px;
      max-width: 350px;
      overflow-x: scroll;
  }
  .eventDetails {
      font-size: 10px;
  }
  .koduyatra {
      font-size: 12px;
  }
  .eventDate {
      font-size: 12px;
  }
}

@media (max-width: 500px) {
  .codeSnippet {
      font-size: 8px;
      max-width: 400px;
      overflow-x: scroll;
  }
  .eventDetails {
      font-size: 12px;
  }
  .koduyatra {
      font-size: 14px;
  }
  .eventDate {
      font-size: 12px;
  }
}
